# ===== Python / Django =====
**/__pycache__/
**/*.pyc
**/*.pyo

# venv
**/.venv/
**/venv/

# logs / temp
**/*.log
**/*.pid

# ===== Django runtime generated =====
**/*.sqlite3
db.sqlite3
blog_builder/db.sqlite3

media/
blog_builder/media/

# collectstatic generated
blog_builder/staticfiles/

# ===== data_getter generated =====
data_getter/out/
data_getter/logs/

# ===== content generated =====
content/assets/
content/exports/
